@font-face {
  font-family: "OverPass";
  src: url("../font/Overpass.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "OverPass", serif;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
body .main-container {
  width: 360px;
  height: auto;
  min-width: 320px;
}