@font-face {
    font-family: 'OverPass';
    src: url('../font/Overpass.ttf' ) format('truetype');
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;

}

html{
    font-size:62.5%;
    font-family: 'OverPass', serif;
}